<h1>Lista de mensajes</h1>
<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th>Mensaje</th>
      <th>Destinatarios</th>
      <th></th>
    </tr>
  </thead>
 <tbody>
    <% @messages.each do |message| %>
      <tr>
        <td><%= message['msg']%></td>
        <td><%= message['count']%></td>
        <td><%= link_to 'Ver detalle', "messages/"+message['id'].to_s %></td> 
      </tr>
    <% end %>
  </tbody> 
</table>

<br>

