<h1>Detalle del mensaje</h1>
<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th>Destinatario</th>
      <th>Status</th>
    </tr>
  </thead>
 <tbody>
    <% @message_info.each do |u_msg| %>
      <tr>
        <td><%= link_to  u_msg['user_name'], "/users/"+u_msg['user_id'].to_s %></td>
        <td><%= u_msg['message_status'] %></td>
      </tr>
    <% end %>
  </tbody> 
</table>

<%= link_to 'Back', messages_path %>
