<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Descarga de lista nominal</h1>
    <p>
      La descarga de la lista nominal se ha realizado con éxito
    </p>
  </body>
</html>