<div class="row">
  <div id="container1" class="col-sm-12 well">
  </div>
</div>
<hr />
<div class="row">
  <div class="col-sm-12">
  </div>
</div>
<div class="row">
  <div id="container2" class="col-sm-4">
  </div>
  <div id="container3" class="col-sm-4">
  </div>
</div>
<div class="row">
  <div id="container4" class="col-sm-12">
  </div>
</div>
<hr />
<div class="row">
  <div class="col-sm-12">
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
      <div id="map" style='height: 400px; margin:50px;'></div>
  </div>
</div>