<% if !current_user.communication? %>
<div class="row">
  <div  class="col-sm-12">
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">Votaciones Internas</div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-6">
            <select class="form-control" id="votation_pollings">
              <option value="0"></option>
              <% @pollings.each do |p| %>
                <option value="<%=p.id %>"><%= p.name %></option>
              <% end %>
            </select>
            <div id="container6"></div>
          </div>
          <div  class="col-md-6">
            <select class="form-control" id="votation_groups">
              <option value="0"></option>
              <% @groups.each do |g| %>
                <option value="<%=g.id%>"><%=g.name%></option>
              <% end %>
            </select>
            <div id="container7"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
<div class="row">
  <% if !current_user.communication? %>
  <div  class="col-sm-6">
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">
        Gráfica de Jugadores por Grupo
      </div>
      <div class="panel-body">
        <div id="container4"></div>
      </div>
    </div>
  </div>
  <% end %>
  <div  class="col-sm-6">
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">Tabla de Municipios</div>
      <div class="panel-body">
        <div id="container5"></div>
      </div>
    </div>
  </div>
</div>